@model TSheet.Models.RegistrationModel
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div><h4>Admin Dashboard</h4></div>
<div class="">

    <div class="row pt-3">
        <div class="col-lg-3 col-md-6 ">
            <div class="card border-left-dark shadow  py-2">
                <div class="card-body id=" user-Card"">
                    <div class=" row">
                        <div class="col-lg-8" id="text-cart"> Total User Counts</div>
                        <div class=" col-lg-4"> <h4 class="count pt-3 pl-5 text-primary"> @ViewBag.NoOfUser</h4></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3  col-md-6 ">
            <div class="card border-left-dark shadow  py-2">
                <div class="card-body">
                    <div class=" row">
                        <div class="col-lg-8" id="text-cart"> Total Projects Counts   </div>
                        <div class=" col-lg-4"> <h4 class=" count pt-3 pl-5 text-primary"> @ViewBag.NoOfProject</h4></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



