@model TSheet.Models.RegistrationModel
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link href="~/Content/css/TSheetCSS/css/Admin.css" rel="stylesheet" />
<div class=" p-3 pl-4 ml-4 "><h4 class="AdminTitle">Admin Dashboard</h4></div>
<div class="p-2">
    <div class="row pt-3 pl-4 ml-3">
        <div class="col-lg-4 col-sm-12 ">
            <div class="card border-left-dark shadow-sm  py-2">
                <div class="card-body id=" user-Card"">
                    <div class=" row">
                        <div class="col-lg-7 col-md-7" id="text-cart"> <button type="button" class="btn btn-dark w-75 h-100 userDashBtn" onclick="location.href='@Url.Action("TotalUserCountsForAdmin", "TotalUserConunt" )'">Total User Count</button>
                            </div>
                        <div class=" col-lg-5 col-md-5"> <h4 class="count pt-2 pl-5 text-primary "> @ViewBag.NoOfUser  </h4></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-12 " id="AdminCard">
            <div class="card border-left-dark shadow-sm  py-2">
                <div class="card-body">
                    <div class=" row">
                        <div class="col-lg-7 col-md-7" id="text-cart"> <button type="button" class="btn btn-dark w-75 h-100 userDashBtn" onclick="location.href='@Url.Action("TotalProjects", "TotalCounts")'"> Projects  Counts</button>  </div>
                        <div class=" col-lg-5 col-md-5"> <h4 class=" count pt-2 pl-5 text-primary "> @ViewBag.NoOfProject </h4></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



