@model IEnumerable<TSheet.Data.DescriptionAndProjectMapping>

@{
    Layout = Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
<link rel="stylesheet"
      type="text/css"
      href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
<table id="table_id" class=" table-bordered">
    <thead class="bg-dark text-white">

        <tr>
            <th>
                Name
            </th>
            <th>
                Project
            </th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr class="bg-white">
                    <td class="bg-white">
                        @Html.DisplayFor(modelItem => item.Registration.FirstName) @Html.DisplayFor(modelItwm => item.Registration.LastName)
                    </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ProjectMaster.ProjectName)
                </td>


            </tr>
        }
    </tbody>
</table>
<script type="text/javascript"
        charset="utf8"
        src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript"
        charset="utf8"
        src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script>
    $(function () {
        $("#table_id").dataTable();
    });
</script>