body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #505152;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

i {
    padding-top: 60px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a {
    padding-top: 30px;
    padding-left: 30px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
}

    .sidenav a:hover {
        color: #f1f1f1;
    }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.sideBarTitle {
    font-weight: 800;
    color: white;
    padding-top: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.closebtn {
}

.navbar {
    float: right;
}

#SideBar-items {
    font-family: 'Times New Roman', Times, serif
}

