
#user-Card {
    background-color: red
}

.count {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif
}
#UserDashboarTitle{
    font-size:30px
}
#text-cart {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

#UserDashboar {
    font-size: 25px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color:black;
}
#UserDashBoard-Btn{
    width:200px;

   
}

