@model IEnumerable<TSheet.Data.AssignedRole>

@{
    Layout = null;
}
<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TotalUsers</title>
</head>
<body>

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Role
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Registration.FirstName)
                    @Html.DisplayFor(modelItem => item.Registration.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.RoleName)
                </td>


            </tr>
        }

    </table>
</body>
</html>
