@model IEnumerable<TSheet.Data.AssignedRole>

@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
<!DOCTYPE html>
\
<script>
    $(Document).ready(function () {
        $("#UserVirePopup").click(function () {
            alert
        })
    })
</script>

<link rel="stylesheet"
      type="text/css"
      href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>


<button class="btn bg-success mt-3 mt-5 ml-4" type="submit">
    @Html.ActionLink("Go To Dashboard", "DashBoard", "Admin", "Admin", new { @class = "text-white", @id = "SideBar-items" })
</button>
<div class="p-3 pl-3 ml-4">
    <table id="table_id" class="table-bordered p-3">
        <thead class="bg-dark text-white p-4">
            <tr class="">
                <th class="p-3">
                    Name
                </th>

                <th>
                    Role
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="bg-white">
                    <td class="bg-white p-3">
                        @Html.DisplayFor(modelItem => item.Registration.FirstName)
                        @Html.DisplayFor(modelItem => item.Registration.LastName)
                    </td>
                    <td class="bg-white p-3">
                        @Html.DisplayFor(modelItem => item.Role.RoleName)
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <script type="text/javascript"
            charset="utf8"
            src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript"
            charset="utf8"
            src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            $("#table_id").dataTable();
        });
    </script>
</div>

