@model IEnumerable<TSheet.Data.Registration>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>

    <tr>
        
        
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
    </tr>
}*@
@Html.Partial("_navbar")
<div class="row">
    @Html.Partial("_sidebar")
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>


</div>



