<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>@ViewBag.Title</title>
    <link href="~/Content/css/leyoutFile.css" rel="stylesheet" />
</head>
<body>
    <div class="" style="background-color: #DDE7EC; height:70px">
        <nav class="navbar ">
            <div class="nav-hedding-box">
                <h2 style="font-weight: 500; color: #59646A">
                    <i class="fa-sharp fa-solid fa-hourglass-start" style=" color: #59646A"></i>  Time Manager
                </h2>
            </div>
            <div class="nav-user-box">
                <h4 class="text">
                    @HttpContext.Current.User.Identity.Name <i class="fa-regular fa-user"></i>
                </h4>
            </div>
        </nav>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-3  bg-gradient-primary">
            <h3 class="text-white text-center pt-4" id="Side-Bar-items">TIME SHEET</h3>
            <hr />

            <div class="pt-3 p-3">
                @RenderSection("SideBarAction")
            </div>
        </div>



        @RenderBody()

    </div>

</body>
</html>
