<link href="~/Content/css/superAdmins.css" rel="stylesheet" />
<div class="">
    <nav class="navbar" id="navcolor">
        <a class="navbar-brand m-2 ps-3 text-white" href="#">
            Time Manager
        </a>
        <a class="navbar-brand pe-3 text-white" href="#">
            User
        </a>
    </nav>
</div>

