<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<meta name="author" content="">
<link href="~/Content/css/superAdmins.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />

<div class="">
    <nav class="navbar" id="navcolor">
        <a class="navbar-brand m-2 ps-3 text-white" href="#">
            Time Manager
        </a>
        <a class="navbar-brand pe-3 text-white" href="#">
            User
        </a>
    </nav>
</div>

