<div class="col-sm-4 col-md-3 p-4" id="sidebar">
    <ul class="">
        <div class="pt-3">Dashboard</div>
        <div class="pt-3"><a href="">Create Role</a></div>
        <div class="pt-3"><a href="">Roles</a></div>
        <div class="pt-3"><a href="">Add Projects</a></div>
    </ul>
</div>
