@*<style>
    #sidebar{
        height:600px;
    }

    a{
        font-size:22px;
        color:white;
    }

</style>
*@


<div class="col-sm-4 col-md-3 p-4" id="sidebar">
    <ul class="" id="">
        <div class="pt-3"><a class ="text-white font-weight-bold" href="/SuperAdmin/SuperAdmin">Dashboard</a></div>
        <div class="pt-3"> <a class="text-white font-weight-bold" href="/SuperAdmin/CreateUser">Create User</a></div>
        <div class="pt-3"> <a class="text-white font-weight-bold" href="/SuperAdmin/AssignRoles">Assign Roles</a></div>
        
        <div class="pt-3"><a class="text-white font-weight-bold" href="/SuperAdmin/AddProjects">Add Projects</a></div>
    </ul>
</div>
