#top-div
{
    height:600px;
}

#navcolor {
    background-color: #000000;
}
#sidebar {
    background-color: #838693;
    height: 753px;
}
/*#sidebar {
    height: 600px;
}*/

a {
    font-size: 20px;
    
}
