
#Side-Bar-items {
    font-weight: 500;
}


hr {
    border-color: #97A1A6;
}

h5 {
    font-size: 17px;
}

i {
    color: #B8C1C6;
    padding: 5px;
}

#Side-Bar-items {
    font-weight: 500;
}

#top-box {
    background-color: #ECF3F6;
}

#inputfiled {
    height: 45px;
    width: 85px;
}

#User-tsheet-button {
    padding-right: 80px;
}

#cart-icon {
    color: #5EAFDA;
}

#main-box {
    background-color: #F9FBFC;
    height: 810px;
}